<!-- CREATE NICHE COMPONENT -->
<h3>Add a Brand Plan</h3>
<p>Brand plans are similar to categories of a website.</p>
<p>Think about different types of content and the categories that that fall under.
ex.) Tools, How-to, Maintenance, DIY Project, etc.
</p>

<div class="row">
    <div class="col-12">
        <div class="myform form ">
            <form action="#" method="post" id="createBrandPlanForm">
                <div class="form-group">
                    <input type="text" name="category"  class="form-control my-input" id="name" placeholder="Brand Plan - Category">
                </div>
                <div class="form-group">
                    <input type="text" name="estimated_post"  class="form-control my-input" id="domain" placeholder="Estimated Post eg.) 35">
                </div>
<hr />

                <div class="text-center ">
                    <button type="submit" class=" btn btn-block send-button tx-tfm">Add Brand Plan</button>
                </div>

               </form>
        </div>
    </div>
</div>