<!-- CREATE NICHE COMPONENT -->
<h3>Have a Niche Idea?</h3>
<p>Add Your Niche Idea Quickly</p>
<p>Will get started analyzing it right away.</p>

<div class="row">
    <div class="col-12">
        <div class="myform form ">
            <form action="#" method="post" id="createNicheForm">
                <div class="form-group">
                    <input type="text" name="name"  class="form-control my-input" id="name" placeholder="Niche Idea / Topic">
                </div>
                <div class="form-group">
                    <input type="text" name="domain"  class="form-control my-input" id="domain" placeholder="Website">
                </div>
<hr />

                <div class="text-center ">
                    <button type="submit" class=" btn btn-block send-button tx-tfm">Add Niche</button>
                </div>

               </form>
        </div>
    </div>
</div>